:root {
  --success: #00c8b3;
  --danger: #eb4a46;

  --colors-white: #ffffff;
  --colors-black: #131313;
  --colors-purple: #87027b;

  --input-font: #efeeed;
  --input-font-focus: #333333;
  --input-border: var(--input-font);

  --button-opacity: 70%;
  --button-disabled-text: #dddcdc;
  --button-disabled-bg: #f6f6f6;

  --base-font-size: 16px;
}

html {
  box-sizing: border-box;
  font-size: var(--base-font-size);
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--colors-white);
  color: var(--colors-black);
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0.5rem;
}
main {
  max-width: 972px;
  margin: 0 auto;
}
